<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antoniohorrillo.devage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_profile_devage"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DevAgeTheme.Dark">
        <activity
            android:name=".activity.Portada">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Principal" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.Signup"></activity>
    </application>

</manifest>